<div class="all">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <table class="w225 mainTable">

    <tr class="h9">

      <td class="fTitle blockCell_1">
        <table class="fTitle innerTable_1">
          <tr class="h9">
            <td class="fTitle fSize12">受付日時</td>
          </tr>
        </table>
      </td>

      <td class="fValue1 blockCell_2">
        <table class="fValue1 innerTable_2">
          <tr class="h9">
            <td class="fYmd w20 spacing">_orderYear_</td>
            <td class="fYmdT">年</td>
            <td class="fYmd  spacing">_orderMonth_</td>
            <td class="fYmdT">月</td>
            <td class="fYmd  spacing">_orderDay_</td>
            <td class="fYmdT">日</td>
            <td class="space" style="width: 1px;"></td>
            <td class="w15 fSize13 hLeft bl-n br-n">AM<br/>PM<div class="circleOrder"></div></td>
            <td class="w5 fSize8 hCenter">受<br/>注<br/>者</td>
            <td class="w15"></td>
          </tr>
        </table>
      </td>

      <td class="fValue5 blockCell_5">
        <table class="fValue5 innerTable_5">
          <tr class="h9">
            <td class="w85 fSize20 pl b-n"><a>　受 注 連 絡 票（出荷指示書）　</a></td>
            <td class="w30 hCenter b-n">㈱　羽　根</td>
            <td class="w5  hCenter b-n">_printCount_</td>
          </tr>
        </table>
      </td>

    </tr>

    <tr class="h9">
      <td class="fTitle blockCell_1">
        <table class="fTitle innerTable_1 mt">
          <tr class="h9">
            <td class="fTitle">受注№</td>
          </tr>
        </table>
      </td>
      <td class="fValue1 blockCell_2">
        <table class="fValue1 innerTable_2 mt">
          <tr class="h9">
            <td class="fCode w26 spacing">_orderNo_</td>
            <td class="fTitle">指示№</td>
            <td class="fCode w26 spacing"></td>
            <td class="w5 fSize8 hCenter">発<br/>注<br/>者</td>
            <td class="w15"></td>
          </tr>
        </table>
      </td>
      <td class="fValue5 blockCell_5">
        <table class="fValue5 innerTable_5 mt">
          <tr class="h9">
            <td class="fTitle blockCell_3">
              <table class="fTitle innerTable_3">
                <tr class="h9">
                  <td class="fTitle">出荷日</td>
                </tr>
              </table>
            </td>
            <td class="fValue2 blockCell_4">
              <table class="fValue2 innerTable_4">
                <tr class="h9">
                  <td class="fYmd spacing">_shipMonth_</td>
                  <td class="fYmdT">月</td>
                  <td class="fYmd spacing">_shipDay_</td>
                  <td class="fYmdT">日</td>
                  <td class="fTitle">納品日</td>
                  <td class="fYmd spacing">_deliveryMonth_</td>
                  <td class="fYmdT">月</td>
                  <td class="fYmd spacing">_deliveryDay_</td>
                  <td class="fYmdT">日</td>
                  <td class="space" style="width: 8px;"></td>
                  <td class="w15 fSize13 hLeft bl-n br-n">AM<br/>PM<div class="circleDelivery"></div></td>
                  <td class="w15 hCenter bl-n br-n">_deliveryTime_時着</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="h9">
      <td class="fTitle blockCell_1">
        <table class="fTitle innerTable_1 mt">
          <tr class="h9">
            <td class="fTitle">_customerTitle_</td>
          </tr>
        </table>
      </td>
      <td class="fValue1 blockCell_2">
        <table class="fValue1 innerTable_2 mt">
          <tr class="h9">
            <td class="fCode spacing">_customerCode_</td>
            <td class="fName1">_customerName_</td>
          </tr>
        </table>
      </td>
      <td class="fValue5 blockCell_5">
        <table class="fValue5 innerTable_5 mt">
          <tr class="h9">
            <td class="fTitle blockCell_3">
              <table class="fTitle innerTable_3">
                <tr class="h9">
                  <td class="fTitle">_deliveryTitle_</td>
                </tr>
              </table>
            </td>
            <td class="fValue2 blockCell_4">
              <table class="fValue2 innerTable_4">
                <tr class="h9">
                  <td class="fCode spacing">_deliveryCode_</td>
                  <td class="fName2">_deliveryName_</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="h9">
      <td class="fTitle blockCell_1">
        <table class="fTitle innerTable_1 mt">
          <tr class="h9">
            <td class="fTitle">_supplierTitle_</td>
          </tr>
        </table>
      </td>
      <td class="fValue1 blockCell_2">
        <table class="fValue1 innerTable_2 mt">
          <tr class="h9">
            <td class="fCode spacing">_supplierCode_</td>
            <td class="fName1">_supplierName_</td>
          </tr>
        </table>
      </td>
      <td class="fValue5 blockCell_5">
        <table class="fValue5 innerTable_5 mt">
          <tr class="h9">
            <td class="fTitle blockCell_3">
              <table class="fTitle innerTable_3">
                <tr class="h9">
                  <td class="fTitle">_warehouseTitle_</td>
                </tr>
              </table>
            </td>
            <td class="fValue2 blockCell_4">
              <table class="fValue2 innerTable_4">
                <tr class="h9">
                  <td class="fCode spacing">_warehouseCode_</td>
                  <td class="fName2">_warehouseName_</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="h9">
      <td class="fTitle blockCell_1">
        <table class="fTitle innerTable_1 mt">
          <tr class="h9">
            <td class="fTitle">_driverTitle_</td>
          </tr>
        </table>
      </td>
      <td class="fValue1 blockCell_2">
        <table class="fValue1 innerTable_2 mt">
          <tr class="h9">
            <td class="fCode spacing">_driverCode_</td>
            <td class="fName1 hLeft">_driverName_</td>
          </tr>
        </table>
      </td>
      <td class="fValue5 blockCell_5">
        <table class="fValue5 innerTable_5 mt">
          <tr class="h9">
            <td class="fTitle blockCell_3">
              <table class="fTitle innerTable_3">
                <tr class="h9">
                  <td class="fTitle fSize12">_truckerTitle_</td>
                </tr>
              </table>
            </td>
            <td class="fValue2 blockCell_4">
              <table class="fValue2 innerTable_4">
                <tr class="h9">
                  <td class="fCode spacing">_truckerCode_</td>
                  <td class="w55 fSize16 hLeft">_truckerName_</td>
                  <td class="fTitle">_flightsTitle_</td>
                  <td class="w15 br-n">_flights_回目</td>
                  <td class="space" style="width: 2px;"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="h9">
      <td class="fTitle blockCell_1">
        <table class="fTitle innerTable_1 mt">
          <tr class="h9">
            <td class="fTitle">_feeTitle_</td>
          </tr>
        </table>
      </td>
      <td class="fValue1 blockCell_2">
        <table class="fValue1 innerTable_2 mt">
          <tr class="h9">
            <td class="fCode hRight">_fee_</td>
            <td class="fTitle">_addFeeTitle_</td>
            <td class="fCode hRight">_addFee_</td>
            <td class="fTitle fSize12">_highwayFeeTitle_</td>
            <td class="fCode hRight br-n">_highwayFee_</td>
            <td class="space" style="width: 2px;"></td>
          </tr>
        </table>
      </td>
      <td class="fValue5 blockCell_5">
        <table class="fValue5 innerTable_5 mt">
          <tr class="h9">
            <td class="fTitle blockCell_3">
              <table class="fTitle innerTable_3">
                <tr class="h9">
                  <td class="fTitle fSize12">_officeFeeTitle_</td>
                </tr>
              </table>
            </td>
            <td class="fValue2 blockCell_4">
              <table class="fValue2 innerTable_4">
                <tr class="h9">
                  <td class="fCode spacing">_officeFeeCode_</td>
                  <td class="fName2">_officeFeeName_</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>

  </table>

  <p class="h2" style="margin:0;"></p>

  <table class="w225 h96">
    <tr class="fSize11">
      <th class="HcodeH" rowspan="2" colspan="2">取引<br>区分</th>
      <th class="ItemCodeH bb-d">商品コード</th>
      <th class="QtyPerCtnH">入数</th>
      <th class="QtyH" colspan="2">積込予定数</th>
      <th class="QtyH" colspan="2">積込実数</th>
      <th class="LoadingPlaceH" rowspan="2">積込場所</th>
      <th class="RemarkH" rowspan="2">備考</th>
    </tr>
    <tr class="fSize11">
      <th class="ItemCodeH bt-d">商品名</th>
      <th class="QtyPerCtnH">数量区分</th>
      <th class="QtyCtnH">袋数</th>
      <th class="QtyH">数量</th>
      <th class="QtyCtnH">袋数</th>
      <th class="QtyH">数量</th>
    </tr>

    <tr class="h5">
      <td class="Count"  rowspan="2">1</td>
      <td class="Hcode"  rowspan="2">_Hcode0_</td>
      <td class="ItemCode">_itemCode0_</td>
      <td class="QtyPerCtn QtyPerCtnCell"><span class="QtyPerCtnText">_QtyPerCtn0_<div id="circle20" class="circle2"></div></span></td>
      <td class="QtyCtn" rowspan="2">_QtyCtn10_</td>
      <td class="Qty"    rowspan="2">_Qty10_</td>
      <td class="QtyCtn" rowspan="2">_QtyCtn20_</td>
      <td class="Qty"    rowspan="2">_Qty20_</td>
      <td class="LoadingPlace" rowspan="2">_LoadingPlaceName0_</td>
      <td class="Remark1">_Remark10_</td>
    </tr>
    <tr class="h5">
      <td class="ItemName ItemNameCell"><span class="ItemNameText">_itemName0_</span></td>
      <td class="QName">_QName0_</td>
      <td class="Remark2">_Remark20_</td>
    </tr>
    <tr class="h5">
      <td class="Count"  rowspan="2">2</td>
      <td class="Hcode"  rowspan="2">_Hcode1_</td>
      <td class="ItemCode">_itemCode1_</td>
      <td class="QtyPerCtn QtyPerCtnCell"><span class="QtyPerCtnText">_QtyPerCtn1_<div id="circle21" class="circle2"></div></span></td>
      <td class="QtyCtn" rowspan="2">_QtyCtn11_</td>
      <td class="Qty"    rowspan="2">_Qty11_</td>
      <td class="QtyCtn" rowspan="2">_QtyCtn21_</td>
      <td class="Qty"    rowspan="2">_Qty21_</td>
      <td class="LoadingPlace" rowspan="2">_LoadingPlaceName1_</td>
      <td class="Remark1">_Remark11_</td>
    </tr>
    <tr class="h5">
      <td class="ItemName ItemNameCell"><span class="ItemNameText">_itemName1_</span></td>
      <td class="QName">_QName1_</td>
      <td class="Remark2">_Remark21_</td>
    </tr>
    <tr class="h5">
      <td class="Count"  rowspan="2">3</td>
      <td class="Hcode"  rowspan="2">_Hcode2_</td>
      <td class="ItemCode">_itemCode2_</td>
      <td class="QtyPerCtn QtyPerCtnCell"><span class="QtyPerCtnText">_QtyPerCtn2_<div id="circle22" class="circle2"></div></span></td>
      <td class="QtyCtn" rowspan="2">_QtyCtn12_</td>
      <td class="Qty"    rowspan="2">_Qty12_</td>
      <td class="QtyCtn" rowspan="2">_QtyCtn22_</td>
      <td class="Qty"    rowspan="2">_Qty22_</td>
      <td class="LoadingPlace" rowspan="2">_LoadingPlaceName2_</td>
      <td class="Remark1">_Remark12_</td>
    </tr>
    <tr class="h5">
      <td class="ItemName ItemNameCell"><span class="ItemNameText">_itemName2_</span></td>
      <td class="QName">_QName2_</td>
      <td class="Remark2">_Remark22_</td>
    </tr>
    <tr class="h5">
      <td class="Count"  rowspan="2">4</td>
      <td class="Hcode"  rowspan="2">_Hcode3_</td>
      <td class="ItemCode">_itemCode3_</td>
      <td class="QtyPerCtn QtyPerCtnCell"><span class="QtyPerCtnText">_QtyPerCtn3_<div id="circle23" class="circle2"></div></span></td>
      <td class="QtyCtn" rowspan="2">_QtyCtn13_</td>
      <td class="Qty"    rowspan="2">_Qty13_</td>
      <td class="QtyCtn" rowspan="2">_QtyCtn23_</td>
      <td class="Qty"    rowspan="2">_Qty23_</td>
      <td class="LoadingPlace" rowspan="2">_LoadingPlaceName3_</td>
      <td class="Remark1">_Remark13_</td>
    </tr>
    <tr class="h5">
      <td class="ItemName ItemNameCell"><span class="ItemNameText">_itemName3_</span></td>
      <td class="QName">_QName3_</td>
      <td class="Remark2">_Remark23_</td>
    </tr>
    <tr class="h5">
      <td class="Count"  rowspan="2">5</td>
      <td class="Hcode"  rowspan="2">_Hcode4_</td>
      <td class="ItemCode">_itemCode4_</td>
      <td class="QtyPerCtn QtyPerCtnCell"><span class="QtyPerCtnText">_QtyPerCtn4_<div id="circle24" class="circle2"></div></span></td>
      <td class="QtyCtn" rowspan="2">_QtyCtn14_</td>
      <td class="Qty"    rowspan="2">_Qty14_</td>
      <td class="QtyCtn" rowspan="2">_QtyCtn24_</td>
      <td class="Qty"    rowspan="2">_Qty24_</td>
      <td class="LoadingPlace" rowspan="2">_LoadingPlaceName4_</td>
      <td class="Remark1">_Remark14_</td>
    </tr>
    <tr class="h5">
      <td class="ItemName ItemNameCell"><span class="ItemNameText">_itemName4_</span></td>
      <td class="QName">_QName4_</td>
      <td class="Remark2">_Remark24_</td>
    </tr>
    <tr class="h5">
      <td class="Count"  rowspan="2">6</td>
      <td class="Hcode"  rowspan="2">_Hcode5_</td>
      <td class="ItemCode">_itemCode5_</td>
      <td class="QtyPerCtn QtyPerCtnCell"><span class="QtyPerCtnText">_QtyPerCtn5_<div id="circle25" class="circle2"></div></span></td>
      <td class="QtyCtn" rowspan="2">_QtyCtn15_</td>
      <td class="Qty"    rowspan="2">_Qty15_</td>
      <td class="QtyCtn" rowspan="2">_QtyCtn25_</td>
      <td class="Qty"    rowspan="2">_Qty25_</td>
      <td class="LoadingPlace" rowspan="2">_LoadingPlaceName5_</td>
      <td class="Remark1">_Remark15_</td>
    </tr>
    <tr class="h5">
      <td class="ItemName ItemNameCell"><span class="ItemNameText">_itemName5_</span></td>
      <td class="QName">_QName5_</td>
      <td class="Remark2">_Remark25_</td>
    </tr>
    <tr class="h5">
      <td class="Count"  rowspan="2">7</td>
      <td class="Hcode"  rowspan="2">_Hcode6_</td>
      <td class="ItemCode">_itemCode6_</td>
      <td class="QtyPerCtn QtyPerCtnCell"><span class="QtyPerCtnText">_QtyPerCtn6_<div id="circle26" class="circle2"></div></span></td>
      <td class="QtyCtn" rowspan="2">_QtyCtn16_</td>
      <td class="Qty"    rowspan="2">_Qty16_</td>
      <td class="QtyCtn" rowspan="2">_QtyCtn26_</td>
      <td class="Qty"    rowspan="2">_Qty26_</td>
      <td class="LoadingPlace" rowspan="2">_LoadingPlaceName6_</td>
      <td class="Remark1">_Remark16_</td>
    </tr>
    <tr class="h5">
      <td class="ItemName ItemNameCell"><span class="ItemNameText">_itemName6_</span></td>
      <td class="QName">_QName6_</td>
      <td class="Remark2">_Remark26_</td>
    </tr>
    <tr class="h5">
      <td class="Count"  rowspan="2">8</td>
      <td class="Hcode"  rowspan="2">_Hcode7_</td>
      <td class="ItemCode">_itemCode7_</td>
      <td class="QtyPerCtn QtyPerCtnCell"><span class="QtyPerCtnText">_QtyPerCtn7_<div id="circle27" class="circle2"></div></span></td>
      <td class="QtyCtn" rowspan="2">_QtyCtn17_</td>
      <td class="Qty"    rowspan="2">_Qty17_</td>
      <td class="QtyCtn" rowspan="2">_QtyCtn27_</td>
      <td class="Qty"    rowspan="2">_Qty27_</td>
      <td class="LoadingPlace" rowspan="2">_LoadingPlaceName7_</td>
      <td class="Remark1">_Remark17_</td>
    </tr>
    <tr class="h5">
      <td class="ItemName ItemNameCell"><span class="ItemNameText">_itemName7_</span></td>
      <td class="QName">_QName7_</td>
      <td class="Remark2">_Remark27_</td>
    </tr>

  </table>

  <table class="w225 fSize13 mt">
    <tr class="h8">
      <td class="w27 hCenter">続き・有・無</td>
      <td class="w6  hCenter writing-vrl" rowspan="2">記<br/>事</td>
      <td class="w23 hCenter">送り状</td>

      <td class="w58 br-n bb-n pl">_invoiceNote_</td>
      <td class="w55 bl-n bb-n hCenter vMiddle"><img src=_barcode_ /></td>

      <td class="w6  hCenter writing-vrl" rowspan="2">手<br/>配<br/>者</td>
      <td class="w20" rowspan="2"></td>
      <td class="w6  hCenter writing-vrl" rowspan="2">入<br/>力<br/>者</td>
      <td class="w19" rowspan="2">_QtySum_</td>
    </tr>
    <tr class="h8">
      <td class="hCenter">／</td>
      <td class="hCenter">納品書</td>
      <td class="w58 br-n bb-n pl">_deliveryNote_</td>
      <td class="w55 bl-n bb-n hCenter vMiddle"><img src=_driverBarcode_ /></td>
    </tr>
  </table>

  <table class="w225 fSize11 mt">
    <tr>
      <td class="bl-n br-n bb-n">　　　　　　</td>
      <td class="bl-n br-n bb-n">尚、代金や支払条件およびその方法は売買基本契約書に準拠する</td>
    </tr>
  </table>

</div>

<style>
  .all {
    padding-top: 2mm;
    /* margin-top: 4mm; */
    margin-left: 18mm;
    /* border: solid 1px; */
  }
  
  .mainTable {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0
  }

  .blockCell_1 {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    vertical-align: top;
    border: none;
    /* border: solid 1px; */
    /* margin: 0; */
    /* margin-top: -1px; */
    /* margin-left: -1px; */
  }
  .innerTable_1 {
    width: 100% !important;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    /* border: none; */
    border: solid 1px;
    /* margin: 0; */
    /* margin-top: -1px; */
    /* margin-left: -1px; */
  }

  .blockCell_2 {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0px;
    vertical-align: top;
    box-sizing: border-box;
    border: none;
    /* border: solid 1px; */
    /* margin: 0; */
    /* margin-top: -1px; */
    /* margin-left: -1px; */
  }
  .innerTable_2 {
    width: 100% !important;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    /* border: none; */
    border: solid 1px;
    /* margin: 0; */
    /* margin-top: -1px; */
    margin-left: -1px;
  }

  .blockCell_3 {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    vertical-align: top;
    border: none;
    /* border: solid 1px; */
    /* margin: 0; */
    /* margin-top: -1px; */
    /* margin-left: -1px; */
  }
  .innerTable_3 {
    width: 100% !important;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    /* border: none; */
    border: solid 1px;
    /* margin: 0; */
    /* margin-top: -1px; */
    /* margin-left: -1px; */
  }

  .blockCell_4 {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    vertical-align: top;
    border: none;
    /* border: solid 1px; */
    /* margin: 0; */
    /* margin-top: -1px; */
    /* margin-left: -1px; */
  }
  .innerTable_4 {
    width: 100% !important;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    /* border: none; */
    border: solid 1px;
    /* margin: 0; */
    /* margin-top: -1px; */
    margin-left: -1px;
  }

  .blockCell_5 {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    vertical-align: top;
    border: none;
    /* border: solid 1px; */
    /* margin: 0; */
    /* margin-top: -1px; */
    /* margin-left: -1px; */
  }
  .innerTable_5 {
    width: 100% !important;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    border: none;
    /* border: solid 1px; */
    /* margin: 0; */
    /* margin-top: -1px; */
    margin-left: -2px;
  }


  .blockCell_1_1 {
    border-collapse: collapse;
    /* margin: 0; */
    /* margin-top: -1px; */
    /* margin-left: -1px; */
    padding: 0;
    vertical-align: top;
    border: none;
    /* border: solid 1px; */
  }



  .innerTable_1_1 {
    width: 100% !important;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    /* margin: 0; */
    /* margin-top: 1px; */
    /* margin-left: -1px; */
    padding: 0;
    /* border: none; */
    /* border: solid 1px; */
  }



  .innerTable2 {
    width: 100% !important;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    /* margin: 0; */
    /* margin-top: -1px; */
    margin-left: 0px;
    padding: 0;
    /* border: none; */
    /* border: solid 1px; */
  }

  table {
    border-collapse: collapse;
    /* margin-top: -1px; */
    /* margin-bottom: 1px; */
    padding: 0px;
    /* box-sizing: border-box; */
  }

  table td {
    border: solid 1px;
    padding: 0px;
    /* margin-left: -1px; */
    font-family: 'ＭＳ ゴシック',sans-serif;
    white-space: nowrap;
    overflow:hidden
  }

  table th {
    border: solid 1px;
    padding: 0px;
    font-family: 'ＭＳ ゴシック',sans-serif;
  }

  .circleOrder {
    width: 20px;
    height: 10px;
    border-radius: 50px;
    border: solid 2px rgb(0, 0, 0);
    position: absolute; 
    margin-left: -5px;
    margin-top: _orderMgn_;	/*-38px or -18px*/
    display:_orderCircleDis_ ;
  }

  .circleDelivery {
    width: 20px;
    height: 10px;
    border-radius: 50px;
    border: solid 2px rgb(0, 0, 0);
    position: absolute; 
    margin-left: -5px;
    margin-top: _deliveryMgn_;	/*-38px or -18px*/
    display:_deliveryCircleDis_ ;
  }

  .circle2 {
    width: 20px;
    height: 15px;
    border-radius: 35px;
    border: solid 2px rgb(0, 0, 0);
    position: absolute; 
    margin-left: 21px;
    margin-top: -20px;
    /* display:_circleDis_ ; */
  }

  #circle20{
    display:_circle20_ ;
  }
  #circle21{
    display:_circle21_ ;
  }
  #circle22{
    display:_circle22_ ;
  }
  #circle23{
    display:_circle23_ ;
  }
  #circle24{
    display:_circle24_ ;
  }
  #circle25{
    display:_circle25_ ;
  }
  #circle26{
    display:_circle26_ ;
  }
  #circle27{
    display:_circle27_ ;
  }

  .space {
    border-left-style: none;
    border-right-style: none;
  }

  /* ----------------------------------------------------------- */
  
  div {
    padding: 0px;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid black;
  }

  /* ----------------------------------------------------------- */

  .mt {
    margin-top: -1px;
  }

  .pr {
    padding-right: 5px;
  }

  .pl {
    padding-left: 5px;
  }

  /* ----------------------------------------------------------- */

  .b-n {
    border-style: none;
  }

  .bl-n {
    border-left-style: none;
  }

  .br-n {
    border-right-style: none;
  }

  .bt-n {
    border-top-style: none;
  }

  .bb-n {
    border-bottom-style: none;
  }

  .bt-d {
    border-top-style: dotted
  }

  .bb-d {
    border-bottom-style: dotted
  }

  /* ----------------------------------------------------------- */

  .hCenter {
    text-align: center !important;
  }
  .hLeft {
    text-align: left !important;
  }
  .hRight {
    text-align: right !important;
  }

  /* ----------------------------------------------------------- */

  .vMiddle {
    vertical-align: middle;
  }

  .vBottom {
    vertical-align: bottom;
  }

  .writing-vrl {
    writing-mode: vertical-rl;
  }

  /* ----------------------------------------------------------- */

  .h2 {
    height: 2mm !important;
    min-height: 2mm !important;
    max-height: 2mm !important;
  }
  .h5 {
    height: calc(5.5mm + 0px) !important;
    min-height: calc(5.5mm + 0px) !important;
    max-height: calc(5.5mm + 0px) !important;
  }
  .h8 {
    height: 8mm !important;
    min-height: 8mm !important;
    max-height: 8mm !important;
  }
  .h9 {
    height: 9mm !important;
    min-height: 9mm !important;
    max-height: 9mm !important;
  }

  .h96 {
    height: 96mm !important;
    min-height: 96mm !important;
    max-height: 96mm !important;
  }

  .w5 {
    width: 5mm !important;
    min-width: 5mm !important;
    max-width: 5mm !important;
  }
  .w6 {
    width: 6mm !important;
    min-width: 6mm !important;
    max-width: 6mm !important;
  }
  .w7 {
    width: 7mm !important;
    min-width: 7mm !important;
    max-width: 7mm !important;
  }
  .w8 {
    width: 8mm !important;
    min-width: 8mm !important;
    max-width: 8mm !important;
  }

  .w10 {
    width: 10mm !important;
    min-width: 10mm !important;
    max-width: 10mm !important;
  }
  .w15 {
    width: 15mm !important;
    min-width: 15mm !important;
    max-width: 15mm !important;
  }
  .w16 {
    width: 16mm !important;
    min-width: 16mm !important;
    max-width: 16mm !important;
  }
  .w19 {
    width: 19mm !important;
    min-width: 19mm !important;
    max-width: 19mm !important;
  }

  .w20 {
    width: 20mm !important;
    min-width: 20mm !important;
    max-width: 20mm !important;
  }
  .w23 {
    width: 23mm !important;
    min-width: 23mm !important;
    max-width: 23mm !important;
  }
  .w26 {
    width: 27.5mm !important;
    min-width: 27.5mm !important;
    max-width: 27.5mm !important;
  }
  .w27 {
    width: 27mm !important;
    min-width: 27mm !important;
    max-width: 27mm !important;
  }
  
  .w40 {
    width: 40mm !important;
    min-width: 40mm !important;
    max-width: 40mm !important;
  }

  .w55 {
    width: 55mm !important;
    min-width: 55mm !important;
    max-width: 55mm !important;
  }
  .w58 {
    width: 58mm !important;
    min-width: 58mm !important;
    max-width: 58mm !important;
  }

  .w85 {
    width: 85mm !important;
    min-width: 85mm !important;
    max-width: 85mm !important;
  }

  .w105 {
    /* width: calc(105mm + 0px) !important;
    min-width: calc(105mm + 0px) !important;
    max-width: calc(105mm + 0px) !important; */
    width: 105mm !important;
    min-width: 105mm !important;
    max-width: 105mm !important;
  }
  .w120 {
    width: 120mm !important;
    min-width: 120mm !important;
    max-width: 120mm !important;
  }
  .w225 {
    width: 225mm !important;
    min-width: 225mm !important;
    max-width: 225mm !important;
  }

  /* ----------------------------------------------------------- */

  .fSize8 {
    font-size: 8px !important;
  }
  .fSize10 {
    font-size: 10px !important;
  }
  .fSize11 {
    font-size: 11px !important;
  }
  .fSize12 {
    font-size: 12px !important;
  }
  .fSize13 {
    font-size: 13px !important;
  }
  .fSize14 {
    font-size: 14px !important;
  }
  .fSize15 {
    font-size: 15px !important;
  }
  .fSize16 {
    font-size: 16px !important;
  }
  .fSize17 {
    font-size: 17px !important;
  }
  .fSize18 {
    font-size: 18px !important;
  }
  .fSize19 {
    font-size: 19px !important;
  }
  .fSize20 {
    font-size: 20px !important;
  }

  /* ----------------------------------------------------------- */

  .spacing {
    letter-spacing: 0.1em;
  }

  /* ----------------------------------------------------------- */

  .fTitle {
    font-size: 14px;
    text-align: center;
    width: 15mm;
    min-width: 15mm;
    max-width: 15mm;
  }

  .fValue1 {
    font-size: 14px;
    text-align: center;
    width: 90mm;
    min-width: 90mm;
    max-width: 90mm;
  }
  .fValue2 {
    font-size: 14px;
    text-align: center;
    width: 105mm;
    min-width: 105mm;
    max-width: 105mm;
  }
  .fValue5 {
    font-size: 14px;
    text-align: center;
    width: 120mm;
    min-width: 120mm;
    max-width: 120mm;
  }

  .fCode {
    font-size: 16px;
    text-align: center;
    width: 20mm;
    min-width: 20mm;
    max-width: 20mm;
  }

  .fName1 {
    font-size: 16px;
    text-align: left;
    width: 70mm;
    min-width: 70mm;
    max-width: 70mm;
  }

  .fName2 {
    font-size: 16px;
    text-align: left;
    width: 85mm;
    min-width: 85mm;
    max-width: 85mm;
  }

  .fYmdT {
    font-size: 16px;
    width: 5mm;
    min-width: 5mm;
    max-width: 5mm;
    text-align: center;
    border-left-style: none;
    border-right-style: none;
  }

  .fYmd {
    font-size: 16px;
    width: 10mm;
    min-width: 10mm;
    max-width: 10mm;
    text-align: center;
    border-left-style: none;
    border-right-style: none;
  }

  /* ----------------------------------------------------------- */

  .HcodeH {
    width: 16.5mm;
    min-width: 16.5mm;
    max-width: 16.5mm;
  }
  .ItemCodeH {
    width: 52mm;
    min-width: 52mm;
    /* max-width: 52mm; */
  }

  .QtyPerCtnH {
    width: 18mm;
    min-width: 18mm;
    max-width: 18mm;
  }

  .QtyH {
    width: 30mm;
    min-width: 30mm;
    max-width: 30mm;
  }
  .QtyCtnH {
    width: 15mm;
    min-width: 15mm;
    max-width: 15mm;
  }
  .QtyH {
    width: 15mm;
    min-width: 15mm;
    max-width: 15mm;
  }

  .LoadingPlaceH {
    width: 18mm;
    min-width: 18mm;
    max-width: 18mm;
  }

  .RemarkH {
    width: 37mm;
    min-width: 37mm;
    max-width: 37mm;
  }

  /* ----------------------------------------------------------- */

  .Count {
    width: 5.5mm;
    min-width: 5.5mm;
    max-width: 5.5mm;
    text-align: center;
  }
  .Hcode {
    width: 11mm;
    min-width: 11mm;
    max-width: 11mm;
    text-align: center;
  }

  .ItemCode {
    font-size: 11px;
    text-align: right;
    padding-right: 5px;
    border-bottom-style: dotted
  }
  .ItemName {
    padding-left: 5px;
    border-top-style: dotted
  }
  .ItemNameCell {
    height: 5.5mm;
    max-height: 5.5mm;
    overflow: hidden;
    white-space: nowrap;
  }
  .ItemNameText {
    font-size: 18px;
    line-height: 5.5mm;
  }

  .QtyPerCtn {
    font-size: 12px;
    text-align: center;
    padding-right: 5px;
    border-bottom-style: dotted
  }
  .QtyPerCtnCell {
    height: 5.5mm;
    max-height: 5.5mm;
    overflow: hidden;
    white-space: nowrap;
  }
  .QtyPerCtnText {
    font-size: 18px;
    line-height: 5.5mm;
  }

  .QtyCtn {
    font-size: 18px;
    text-align: center;
  }
  .Qty {
    font-size: 18px;
    text-align: right;
    padding-right: 5px;
  }

  .LoadingPlace {
    font-size: 18px;
    text-align: center;
  }
  .QName {
    font-size: 12px;
    padding-left: 5px;
    border-top-style: dotted
  }

  .Remark1 {
    font-size: 12px;
    padding-left: 5px;
    border-bottom-style: none;
  }
  .Remark2 {
    font-size: 12px;
    padding-left: 5px;
    border-top-style: dotted
  }
  
  /* ----------------------------------------------------------- */

</style>