<div class="all">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<table class="w217" style="background-color: lightgray" >
		<tr class="h18">
			<td class="bs-n w9" ></td>
			<td class="bs-n w52   hCenter" >_barcodeCusDel_</td>
			<td class="bs-n w5" ></td>
			<td class="bs-n w32   hCenter fSize12" >得意先 納入先<br/>Or<br/>倉庫</td>
			<td class="bs-n w5" ></td>
			<td class="bs-n w51-5 hCenter fSize13" >商品名</td>
			<td class="bs-n w3" ></td>
			<td class="bs-n w24   hCenter fSize13" >数量</td>
			<td class="bs-n w2-5" ></td>
			<td class="bs-n w33" ></td>
		</tr>
	</table>
	<table class="w217">
		<tr class="h2"><td class="bs-n" ></td></tr>
		<tr class="h14-5">
			<td class="bs-n w9" ></td>
			<td class="bs-n w52   hCenter" >_barcodeItem0_</td>
			<td class="bs-n w13" ></td>
			<td class="     w23   hCenter" >1</td>
			<td class="bs-n w5" ></td>
			<td class="     w51-5 hLeft pl" >_ItemName0_</td>
			<td class="bs-n w3" ></td>
			<td class="     w24 hRight pr" >_Qty0_</td>
			<td class="bs-n w2-5" ></td>
			<td class="bs-n w33   hCenter" >_barcodeQty0_</td>
		</tr>
		<tr class="h1"><td class="bs-n" ></td></tr>
		<tr class="h14-5">
			<td class="bs-n w9" ></td>
			<td class="bs-n w52   hCenter" >_barcodeItem1_</td>
			<td class="bs-n w13" ></td>
			<td class="     w23   hCenter" >2</td>
			<td class="bs-n w5" ></td>
			<td class="     w51-5 hLeft pl" >_ItemName1_</td>
			<td class="bs-n w3" ></td>
			<td class="     w24   hRight pr" >_Qty1_</td>
			<td class="bs-n w2-5" ></td>
			<td class="bs-n w33   hCenter" >_barcodeQty1_</td>
		</tr>
		<tr class="h1"><td class="bs-n" ></td></tr>
		<tr class="h14-5">
			<td class="bs-n w9" ></td>
			<td class="bs-n w52   hCenter" >_barcodeItem2_</td>
			<td class="bs-n w13" ></td>
			<td class="     w23   hCenter" >3</td>
			<td class="bs-n w5" ></td>
			<td class="     w51-5 hLeft pl" >_ItemName2_</td>
			<td class="bs-n w3" ></td>
			<td class="     w24   hRight pr" >_Qty2_</td>
			<td class="bs-n w2-5" ></td>
			<td class="bs-n w33   hCenter" >_barcodeQty2_</td>
		</tr>
		<tr class="h1"><td class="bs-n" ></td></tr>
		<tr class="h14-5">
			<td class="bs-n w9" ></td>
			<td class="bs-n w52   hCenter" >_barcodeItem3_</td>
			<td class="bs-n w13" ></td>
			<td class="     w23   hCenter" >4</td>
			<td class="bs-n w5" ></td>
			<td class="     w51-5 hLeft pl" >_ItemName3_</td>
			<td class="bs-n w3" ></td>
			<td class="     w24   hRight pr" >_Qty3_</td>
			<td class="bs-n w2-5" ></td>
			<td class="bs-n w33   hCenter" >_barcodeQty3_</td>
		</tr>
		<tr class="h1"><td class="bs-n" ></td></tr>
		<tr class="h14-5">
			<td class="bs-n w9" ></td>
			<td class="bs-n w52   hCenter" >_barcodeItem4_</td>
			<td class="bs-n w13" ></td>
			<td class="     w23   hCenter" >5</td>
			<td class="bs-n w5" ></td>
			<td class="     w51-5 hLeft pl" >_ItemName4_</td>
			<td class="bs-n w3" ></td>
			<td class="     w24   hRight pr" >_Qty4_</td>
			<td class="bs-n w2-5" ></td>
			<td class="bs-n w33   hCenter" >_barcodeQty4_</td>
		</tr>
		<tr class="h1"><td class="bs-n" ></td></tr>
		<tr class="h14-5">
			<td class="bs-n w9" ></td>
			<td class="bs-n w52   hCenter" >_barcodeItem5_</td>
			<td class="bs-n w13" ></td>
			<td class="     w23   hCenter" >6</td>
			<td class="bs-n w5" ></td>
			<td class="     w51-5 hLeft pl" >_ItemName5_</td>
			<td class="bs-n w3" ></td>
			<td class="     w24   hRight pr" >_Qty5_</td>
			<td class="bs-n w2-5" ></td>
			<td class="bs-n w33   hCenter" >_barcodeQty5_</td>
		</tr>
		<tr class="h1"><td class="bs-n" ></td></tr>
		<tr class="h14-5">
			<td class="bs-n w9" ></td>
			<td class="bs-n w52   hCenter" >_barcodeItem6_</td>
			<td class="bs-n w13" ></td>
			<td class="     w23   hCenter" >7</td>
			<td class="bs-n w5" ></td>
			<td class="     w51-5 hLeft pl" >_ItemName6_</td>
			<td class="bs-n w3" ></td>
			<td class="     w24   hRight pr" >_Qty6_</td>
			<td class="bs-n w2-5" ></td>
			<td class="bs-n w33   hCenter" >_barcodeQty6_</td>
		</tr>
		<tr class="h1"><td class="bs-n" ></td></tr>
		<tr class="h14-5">
			<td class="bs-n w9" ></td>
			<td class="bs-n w52   hCenter" >_barcodeItem7_</td>
			<td class="bs-n w13" ></td>
			<td class="     w23   hCenter" >8</td>
			<td class="bs-n w5" ></td>
			<td class="     w51-5 hLeft pl" >_ItemName7_</td>
			<td class="bs-n w3" ></td>
			<td class="     w24   hRight pr" >_Qty7_</td>
			<td class="bs-n w2-5" ></td>
			<td class="bs-n w33   hCenter" >_barcodeQty7_</td>
		</tr>
	</table>

</div>
	
<style>

	.all {
		padding-top: 18mm;
		margin-left: 28mm;
		
		/* border: solid 1px; */

		height: 142.5mm;
		min-height: 142.5mm;
		max-height: 142.5mm;

		width: 217mm;
		min-width: 217mm;
		max-width: 217mm;
	}

	table {
		border-collapse: collapse;
		margin-top: -1px;
		/* width: 880px; */
		padding: 0px;
		box-sizing: border-box;
	}

	table td {
		border: solid 1px;
		/* margin-left: -1px;  */
		padding: 0px;
		box-sizing: border-box;
		font-family: Yu Mincho;
	}

	table td {
		border: solid 1px;
		padding: 0px;
		box-sizing: border-box;
		font-family: Yu Mincho;
	}

/* ----------------------------------------------------------- */

	div {
		padding: 0px;
	}

	a {
		text-decoration: none;
		border-bottom: 1px solid black;
	}

	.bs-n {
		border-top-style: none;
		border-left-style: none;
		border-right-style: none;
		border-bottom-style: none;
	}

	.blrs-n {
		border-left-style: none;
		border-right-style: none;
	}

	.bls-n {
		border-left-style: none;
	}

	.brs-n {
		border-right-style: none;
	}

	.bts-n {
		border-top-style: none;
	}

	.bbs-n {
		border-bottom-style: none;
	}


	.bts-d {
		border-top-style: dotted
	}

	.bbs-d {
		border-bottom-style: dotted
	}

	.pr {
		padding-right: 2.5mm;
	}

	.pl {
		padding-left: 2.5mm;
	}

	.hCenter {
		text-align: center;
	}
	.hRight {
		text-align: right;
	}
	.hLeft {
		text-align: left;
	}
	
	.vMiddle {
		vertical-align: middle;
	}
	.vBottom {
		vertical-align: bottom;
	}

	.fSize12 {
		font-size: 13px;
	}
	.fSize13 {
		font-size: 20px;
	}

	.h1 {
		height: 1.35mm;
		min-height: 1.35mm;
		max-height: 1.35mm;
	}
	.h2 {
		height: 2mm;
		min-height: 2mm;
		max-height: 2mm;
	}
	.h5 {
		height: 5.5mm;
		min-height: 5.5mm;
		max-height: 5.5mm;
	}
	.h8 {
		height: 8mm;
		min-height: 8mm;
		max-height: 8mm;
	}

	.h9 {
		height: 9mm;
		min-height: 9mm;
		max-height: 9mm;
	}

	.h14-5 {
		height: 14.5mm;
		min-height: 14.5mm;
		max-height: 14.5mm;
	}
	.h18 {
		height: 18mm;
		min-height: 18mm;
		max-height: 18mm;
	}
	.h99 {
		height: 99mm;
		min-height: 99mm;
		max-height: 99mm;
	}
	.w2-5 {
		width: 2.5mm;
		min-width: 2.5mm;
		max-width: 2.5mm;
	}
	.w3 {
		width: 3mm;
		min-width: 3mm;
		max-width: 3mm;
	}

	.w4 {
		width: 4mm;
		min-width: 4mm;
		max-width: 4mm;
	}
	.w5 {
		width: 5mm;
		min-width: 5mm;
		max-width: 5mm;
	}
	.w5-5 {
		width: 5.5mm;
		min-width: 5.5mm;
		max-width: 5.5mm;
	}
	.w6 {
		width: 6mm;
		min-width: 6mm;
		max-width: 6mm;
	}
	.w7 {
		width: 7mm;
		min-width: 7mm;
		max-width: 7mm;
	}
	.w8 {
		width: 8mm;
		min-width: 8mm;
		max-width: 8mm;
	}
	.w9 {
		width: 9mm;
		min-width: 9mm;
		max-width: 9mm;
	}
	.w10 {
		width: 10mm;
		min-width: 10mm;
		max-width: 10mm;
	}
	.w11 {
		width: 11mm;
		min-width: 11mm;
		max-width: 11mm;
	}
	.w12 {
		width: 12mm;
		min-width: 12mm;
		max-width: 12mm;
	}
	.w13 {
		width: 13mm;
		min-width: 13mm;
		max-width: 13mm;
	}
	.w14-2 {
		width: 14.2mm;
		min-width: 14.2mm;
		max-width: 14.2mm;
	}
	.w15 {
		width: 15mm;
		min-width: 15mm;
		max-width: 15mm;
	}
	.w16 {
		width: 16mm;
		min-width: 16mm;
		max-width: 16mm;
	}
	.w16-5 {
		width: 16.5mm;
		min-width: 16.5mm;
		max-width: 16.5mm;
	}
	.w17 {
		width: 17mm;
		min-width: 17mm;
		max-width: 17mm;
	}
	.w18 {
		width: 18mm;
		min-width: 18mm;
		max-width: 18mm;
	}
	.w19 {
		width: 19mm;
		min-width: 19mm;
		max-width: 19mm;
	}
	.w20 {
		width: 20mm;
		min-width: 20mm;
		max-width: 20mm;
	}
	.w21 {
		width: 21mm;
		min-width: 21mm;
		max-width: 21mm;
	}
	.w23 {
		width: 23mm;
		min-width: 23mm;
		max-width: 23mm;
	}
	.w23-1 {
		width: 23.1mm;
		min-width: 23.1mm;
		max-width: 23.1mm;
	}
	.w24 {
		width: 24mm;
		min-width: 24mm;
		max-width: 24mm;
	}
	.w25 {
		width: 25mm;
		min-width: 25mm;
		max-width: 25mm;
	}
	.w26 {
		width: 26mm;
		min-width: 26mm;
		max-width: 26mm;
	}
	.w27 {
		width: 27mm;
		min-width: 27mm;
		max-width: 27mm;
	}
	.w28 {
		width: 28mm;
		min-width: 28mm;
		max-width: 28mm;
	}
	.w30 {
		width: 30mm;
		min-width: 30mm;
		max-width: 30mm;
	}
	.w31 {
		width: 31mm;
		min-width: 31mm;
		max-width: 31mm;
	}
	.w32 {
		width: 32mm;
		min-width: 32mm;
		max-width: 32mm;
	}
	.w33 {
		width: 33mm;
		min-width: 33mm;
		max-width: 33mm;
	}
	.w37 {
		width: 37mm;
		min-width: 37mm;
		max-width: 37mm;
	}
	.w37-9 {
		width: 37.9mm;
		min-width: 37.9mm;
		max-width: 37.9mm;
	}
	.w39-4 {
		width: 39.4mm;
		min-width: 39.4mm;
		max-width: 39.4mm;
	}
	.w40 {
		width: 40mm;
		min-width: 40mm;
		max-width: 40mm;
	}
	.w42 {
		width: 42mm;
		min-width: 42mm;
		max-width: 42mm;
	}
	.w50 {
		width: 50mm;
		min-width: 50mm;
		max-width: 50mm;
	}
	.w52 {
		width: 52mm;
		min-width: 52mm;
		max-width: 52mm;
	}
	.w55 {
		width: 55mm;
		min-width: 55mm;
		max-width: 55mm;
	}
	.w51-5 {
		width: 51.5mm;
		min-width: 51.5mm;
		max-width: 51.5mm;
	}
	.w56 {
		width: 56mm;
		min-width: 56mm;
		max-width: 56mm;
	}
	.w58 {
		width: 58mm;
		min-width: 58mm;
		max-width: 58mm;
	}
	.w63 {
		width: 63mm;
		min-width: 63mm;
		max-width: 63mm;
	}
	.w67-8 {
		width: 67.8mm;
		min-width: 67.8mm;
		max-width: 67.8mm;
	}
	.w68 {
		width: 68mm;
		min-width: 68mm;
		max-width: 68mm;
	}
	.w82 {
		width: 82mm;
		min-width: 82mm;
		max-width: 82mm;
	}
	.w82-2 {
		width: 82.2mm;
		min-width: 82.2mm;
		max-width: 82.2mm;
	}
	.w119 {
		width: 119mm;
		min-width: 119mm;
		max-width: 119mm;
	}

	.w217 {
		width: 217mm;
		min-width: 217mm;
		max-width: 217mm;
	}

	.w225 {
		width: 225mm;
		min-width: 225mm;
		max-width: 225mm;
	}

	.w991 {
		width: 80mm;
		min-width: 80mm;
		max-width: 80mm;
	}

	.w992 {
		width: 39mm;
		min-width: 39mm;
		max-width: 39mm;
	}

</style>