<div class="all">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<table style="border-collapse:collapse;">
    <tr class="height1">
        <td colspan="11">  </td>
        <td colspan="2" style="font-size: 12px;">_confirmCount_</td>
    </tr>

    <tr class="height1">
        <!-- <td class="num106">  </td> -->
        <td class="num18">  </td>
        <td class="num20" style="text-align:center;vertical-align:bottom"></td>
        <td class="num67"></td>

        <td class="num20">   </td>
        <td class="num10" style="text-align:right;">_shipMonth_</td>
        <td class="num5" ></td>
        <td class="num9" style="text-align:right;">_shipDay_</td>
        <!-- <td class="num5"></td>


        <td class="num18">  </td> -->
        <td class="num21" ></td>
        <td class="num9" style="text-align:right;">_deliveryMonth_</td>
        <td class="num5" ></td>
        <td style="width:7mm;text-align:right;">_deliveryDay_</td>
        <td style="width:9mm" align="right" valign=_AMPM_><div  class="circle"></div></td>
        <td class="num7" style="text-align:right;">_deliveryTime_</td>
        <td class="num11" ></td>

    </tr>
</table>


<table>
    <tr class="height1">
        <td class="num18 ">  </td>
        <td class="num20 " style="text-align:center;vertical-align:bottom">_customerCode_</td>
        <td class="num67">_customerName_</td>

        <td class="num20"></td>
        <td class="num18" style="text-align:center;vertical-align:bottom">_deliveryCode_</td>
        <td class="num80">_deliveryName_</td>
    </tr>
    <tr class="height1">
        <td class="num18 "></td>
        <td class="num20 " style="text-align:center;vertical-align:bottom">_supplierCode_</td>
        <td class="num67">_supplierName_</td>

        <td class="num20"></td>
        <td class="num18" style="text-align:center;vertical-align:bottom">_warehouseCode_</td>
        <td class="num80">_warehouseName_</td>
    </tr>
</table>

<table>
    <tr class="height1">
        <td class="num18">  </td>
        <td class="num20 " style="text-align:center;vertical-align:bottom">_driverCode_</td>
        <td class="num40 ">_driverName_</td>

        <td class="num26 ">   </td>
        <td class="num20 " style="text-align:center;vertical-align:bottom">_truckerCode_</td>
        <td class="num52 ">_truckerName_</td>


        <td class="num20 "></td>
        <td class="num12 " style="text-align:right;">_flights_</td>
        <td class="num12 "></td>

    </tr>

    <tr class="height1">
        <td colspan="9"></td>
    </tr>
</table>

<p style="height:7px;margin:0;"></p>
<table>
    <tr class="height2sum">
        <th class="num5"  >   </th>
        <th class="num11"  >   </th>
        <th class="num50" >  </th>
        <th class="num17" >  </th>
        <th class="num17" >  </th>
        <th class="num24"  >   </th>
        <th class="num17" >  </th>
        <th class="num24"  >   </th>
        <th class="num20" >  </th>
        <th class="num35" >  </th>
    </tr>

    <!-- 1段目 -->
    <tr class="height2">
        <td rowspan="2">  </td>
        <td rowspan="2" style="text-align:center;">_Hcode0_</td>
        <td style="font-size:12px;text-align:right;">_itemCode0_</td>
        <td rowspan="2" style="text-align:center;">_QtyPerCtn0_<div id="circle20" class="circle2"></div></td>
        <td rowspan="2" style="text-align:center;">_QtyCtn0_</td>
        <td rowspan="2" style="text-align:right;">_Qty0_</td>
        <td rowspan="2" style="text-align:center;">_QtyCtn20_</td>
        <td rowspan="2" style="text-align:right;">_Qty20_</td>
        <td rowspan="2" style="text-align:center;font-size:13px;">_LoadingPlaceName0_</td>
        <td style="text-align:left;font-size:13px;">_Remark10_</td>
    </tr>

    <tr class="height2">
        <td style="font-size:14.5px;">_itemName0_</td>
        <td style="text-align:left;font-size:13px;">_Remark20_</td>
    </tr>

    <!-- ２段目 -->
    <tr class="height2">
        <td rowspan="2">  </td>
        <td rowspan="2" style="text-align:center;">_Hcode1_</td>
        <td style="font-size:12px;text-align:right;">_itemCode1_</td>
        <td rowspan="2" style="text-align:center;">_QtyPerCtn1_<div id="circle21"  class="circle2"></div></td>
        <td rowspan="2" style="text-align:center;">_QtyCtn1_</td>
        <td rowspan="2" style="text-align:right;">_Qty1_</td>
        <td rowspan="2" style="text-align:center;">_QtyCtn21_</td>
        <td rowspan="2" style="text-align:right;">_Qty21_</td>
        <td rowspan="2" style="text-align:center;font-size:13px;">_LoadingPlaceName1_</td>
        <td style="text-align:left;font-size:13px;">_Remark11_</td>
    </tr>

    <tr class="height2">
        <td style="font-size:14px;">_itemName1_</td>
        <td style="text-align:left;font-size:13px;">_Remark21_</td>
    </tr>

    <!-- ３段目 -->
    <tr class="height2">
        <td rowspan="2">  </td>
        <td rowspan="2" style="text-align:center;">_Hcode2_</td>
        <td style="font-size:12px;text-align:right;">_itemCode2_</td>
        <td rowspan="2" style="text-align:center;">_QtyPerCtn2_<div id="circle22" class="circle2"></div></td>
        <td rowspan="2" style="text-align:center;">_QtyCtn2_</td>
        <td rowspan="2" style="text-align:right;">_Qty2_</td>
        <td rowspan="2" style="text-align:center;">_QtyCtn22_</td>
        <td rowspan="2" style="text-align:right;">_Qty22_</td>
        <td rowspan="2" style="text-align:center;font-size:13px;">_LoadingPlaceName2_</td>
        <td style="text-align:left;font-size:13px;">_Remark12_</td>
    </tr>

    <tr class="height2">
        <td style="font-size:14px;">_itemName2_</td>
        <td style="text-align:left;font-size:13px;">_Remark22_</td>
    </tr>

    <!-- ４段目 -->
    <tr class="height2">
        <td rowspan="2">  </td>
        <td rowspan="2" style="text-align:center;">_Hcode3_</td>
        <td style="font-size:12px;text-align:right;">_itemCode3_</td>
        <td rowspan="2" style="text-align:center;">_QtyPerCtn3_<div id="circle23" class="circle2"></div></td>
        <td rowspan="2" style="text-align:center;">_QtyCtn3_</td>
        <td rowspan="2" style="text-align:right;">_Qty3_</td>
        <td rowspan="2" style="text-align:center;">_QtyCtn23_</td>
        <td rowspan="2" style="text-align:right;">_Qty23_</td>
        <td rowspan="2" style="text-align:center;font-size:13px;">_LoadingPlaceName3_</td>
        <td style="text-align:left;font-size:13px;">_Remark13_</td>
    </tr>

    <tr class="height2">
        <td style="font-size:14px;">_itemName3_</td>
        <td style="text-align:left;font-size:13px;">_Remark23_</td>
    </tr>

    <!-- ５段目 -->
    <tr class="height2">
        <td rowspan="2">  </td>
        <td rowspan="2" style="text-align:center;">_Hcode4_</td>
        <td style="font-size:12px;text-align:right;">_itemCode4_</td>
        <td rowspan="2" style="text-align:center;">_QtyPerCtn4_<div id="circle24"  class="circle2"></div></td>
        <td rowspan="2" style="text-align:center;">_QtyCtn4_</td>
        <td rowspan="2" style="text-align:right;">_Qty4_</td>
        <td rowspan="2" style="text-align:center;">_QtyCtn24_</td>
        <td rowspan="2" style="text-align:right;">_Qty24_</td>
        <td rowspan="2" style="text-align:center;font-size:13px;">_LoadingPlaceName4_</td>
        <td style="text-align:left;font-size:13px;">_Remark14_</td>
    </tr>

    <tr class="height2">
        <td style="font-size:14px;">_itemName4_</td>
        <td style="text-align:left;font-size:13px;">_Remark24_</td>
    </tr>

    <!-- ６段目 -->
    <tr class="height2">
        <td rowspan="2">  </td>
        <td rowspan="2" style="text-align:center;">_Hcode5_</td>
        <td style="font-size:12px;text-align:right;">_itemCode5_</td>
        <td rowspan="2" style="text-align:center;">_QtyPerCtn5_<div id="circle25"  class="circle2"></div></td>
        <td rowspan="2" style="text-align:center;">_QtyCtn5_</td>
        <td rowspan="2" style="text-align:right;">_Qty5_</td>
        <td rowspan="2" style="text-align:center;">_QtyCtn25_</td>
        <td rowspan="2" style="text-align:right;">_Qty25_</td>
        <td rowspan="2" style="text-align:center;font-size:13px;">_LoadingPlaceName5_</td>
        <td style="text-align:left;font-size:13px;">_Remark15_</td>
    </tr>

    <tr class="height2">
        <td style="font-size:14px;">_itemName5_</td>
        <td style="text-align:left;font-size:13px;">_Remark25_</td>
    </tr>
    <!-- ７段目 -->
    <tr class="height2">
        <td rowspan="2">  </td>
        <td rowspan="2" style="text-align:center;">_Hcode6_</td>
        <td style="font-size:12px;text-align:right;">_itemCode6_</td>
        <td rowspan="2" style="text-align:center;">_QtyPerCtn6_<div id="circle26"  class="circle2"></div></td>
        <td rowspan="2" style="text-align:center;">_QtyCtn6_</td>
        <td rowspan="2" style="text-align:right;">_Qty6_</td>
        <td rowspan="2" style="text-align:center;">_QtyCtn26_</td>
        <td rowspan="2" style="text-align:right;">_Qty26_</td>
        <td rowspan="2" style="text-align:center;font-size:13px;">_LoadingPlaceName6_</td>
        <td style="text-align:left;font-size:13px;">_Remark16_</td>
    </tr>

    <tr class="height2">
        <td style="font-size:14px;">_itemName6_</td>
        <td style="text-align:left;font-size:13px;">_Remark26_</td>
    </tr>

    <!-- ８段目 -->
    <tr class="height2">
        <td rowspan="2">  </td>
        <td rowspan="2" style="text-align:center;">_Hcode7_</td>
        <td style="font-size:12px;text-align:right;">_itemCode7_</td>
        <td rowspan="2" style="text-align:center;">_QtyPerCtn7_<div id="circle27" class="circle2"></div></td>
        <td rowspan="2" style="text-align:center;">_QtyCtn7_</td>
        <td rowspan="2" style="text-align:right;">_Qty7_</td>
        <td rowspan="2" style="text-align:center;">_QtyCtn27_</td>
        <td rowspan="2" style="text-align:right;">_Qty27_</td>
        <td rowspan="2" style="text-align:center;font-size:13px;">_LoadingPlaceName7_</td>
        <td style="text-align:left;font-size:13px;">_Remark17_</td>
    </tr>

    <tr class="height2">
        <td style="font-size:14px;">_itemName7_</td>
        <td style="text-align:left;font-size:13px;">_Remark27_</td>
    </tr>
</table>

<table style="position: relative;">
    <tr style="height: 22px;" >
        <td class="num60 "></td>
        <td class="num51 "><img src=_barcode_ /></td>
        <td class="num60 ">_invoiceNote_</td>
        <td class="num27 "></td>
        <td class="num24 "></td>

    </tr>
    <tr style="height: 22px;" >
        <td class="num60 "></td>
        <td colspan="2">_deliveryNote_</td>
        <td class="num27 "></td>
        <td class="num24 " align="right" valign="bottom">_QtySum_</td>

    </tr>

</table>

</div>

<style>
	.num5{
	   width: 5mm;
	}

    .num7{
	   width: 7mm;
	}

    .num8{
	   width: 8mm;
	}

    .num9{
	   width: 9mm;
	}



	.num10{
		width: 10mm;
	}

    .num11{
		width: 11mm;
	}
	
	.num12{
		width: 12mm;
	}

    .num17 {
        width: 17mm;
    }

    .num18 {
        width: 18mm;
    }
    
     .num20 {
        width: 20mm;
    }
    
    .num21 {
        width: 23mm;
    }

    .num23 {
        width: 23mm;
    }
      
    
     .num24 {
        width: 24mm;
    }

    .num26 {
        width: 26mm;
    }
    
    .num27 {
        width: 27mm;
    }
    
    .num28 {
        width: 28mm;
    }
    
    .num35{
    	width: 35mm;
    }


    .num37{
    	width: 37mm;
    }
    
    .num40{
    	width: 40mm;
    }

    .num50{
    	width: 50mm;
    }

    
    .num51{
    	width: 51mm;
    }

    .num52{
    	width: 52mm;
    }
        
    .num56{
    	width: 56mm;
    }
    
    .num60{
		width:60mm;
	}

	.num67{
		width:67mm;
	}
	
	.num80{
		width:80mm;
	}

    .num106{
		width:106mm;
	}

    .height1{
        height: 9mm;
    }

    .height2sum{
        height: 42px;
    }

    .height2{
        height: 21px;
    }

    table {
        border-collapse: collapse;
        /* width: 880px; */
    }

    /* table td{
        border: solid 1px;
    }

    table th{
        border: solid 1px;
    } */
    .circle {
    width: 20px;
    height: 10px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: solid 2px rgb(0, 0, 0);
    display:_circleDis_ ;
    
    }

    .circle2 {
    width: 40px;
    height: 30px;
    border-radius: 35px;
    border: solid 2px rgb(0, 0, 0);
    position: absolute; 
	margin-left: 12px;
    margin-top: -30px;
    /* display:_circleDis_ ; */
    
    }

    #circle20{
        display:_circle20_ ;
    }

    #circle21{
        display:_circle21_ ;
    }

    #circle22{
        display:_circle22_ ;
    }

    #circle23{
        display:_circle23_ ;
    }

    #circle24{
        display:_circle24_ ;
    }

    #circle25{
        display:_circle25_ ;
    }


    #circle26{
        display:_circle26_ ;
    }

    #circle27{
        display:_circle27_ ;
    }


    .all {
        padding-top: 2mm;
        margin-left: 18mm;
    }

</style>
            