<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="sheet1" >
	<div class="set">
		<table style="width:400px;">
			<tr>
			<tr>
				<td style="font-size:10px;text-align:left;">No._orderNo_</td>
			</tr>
			<tr>
				<td>
					<div class="title">
						<div>送り状控</div>
					</div>
				</td>
			</tr>
			<tr style="height:15px;"></tr>
			<tr>
				<td>
					<div class="handle">
						<div class="handle_name">_companyName_</div>
						<div style="display:table-cell;">扱</div>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<div class="send_lineStyle">
						<div class="send_lineStyle_name">_deliverryName_</div>
						<div style="display:table-cell;">御中</div>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<div style="width:300px;border-bottom:1px solid;">
						<div class="send_date">出荷日・<div class="YMD">_shipYear_</div>年<div class="YMD">_shipMonth_</div>月<div
							class="YMD">_shipDay_</div>日</div>
					</div>
				</td>
				<td>_print2Conut_</td>
			</tr>
			<tr align="center">
				<td>
					<div>
						<div class="send_date">着　日・<div class="YMD">_deliveryYear_</div>年<div class="YMD">_deliveryMonth_</div>月<div
								class="YMD">_deliveryDay_</div>日</div>
					</div>
				</td>
			</tr>
		</table>
		<table border="1" style="border-collapse:collapse;table-layout:fixed;width:400px;height:300px;">
			<tr>
				<th>品名</th>
				<th>荷姿</th>
				<th>数量</th>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName0_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn0_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn0_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty0_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName1_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn1_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn1_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty1_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName2_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn2_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn2_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty2_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName3_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn3_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn3_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty3_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName4_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn4_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn4_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty4_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName5_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn5_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn5_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty5_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName6_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn6_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn6_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty6_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName7_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn7_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn7_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty7_</td>
			</tr>
			</tr>
		</table>
	</div>
	<div class="set" style="bottom:0;">
		<table style="border-collapse:collapse;margin-top:30px;border: solid 1px;">
			<tr>
				<td align="center"><img width="266px" src=_hane_ ></td>
			</tr>
			<tr>
				<td align="right">静岡営業所</td>
			</tr>
			<tr>
				<td align="left" style="font-size: 10px;">〒425-0052 焼津市田尻字和田2154番22
															
				</td>
			</tr>
			<tr>
				<td align="right" style="font-size: 10px;">ＴＥＬ＜０５４＞６２３－１２３１(代)
				</td>
			</tr>
			<tr>
				<td align="left" style="font-size: 10px;">
					沼津配送センター　<br>
					〒410-0847　沼 津 市 千 本 中 町 4 4<br>
					
				</td>
			</tr>

			<tr>
				<td align="right" style="font-size: 10px;">ＴＥＬ＜０５５＞９６２－６６５０(代)
				</td>
			</tr>
		</table>
		<table border="1" style="border-collapse:collapse;width:270px;height:30px;">
			<tr>
				<td style="width:50px;height:30px;">出　荷<br>場　所</td>
				<td align="center">_warehouseName_</td>
			<tr>
			<tr>
				<td style="width:50px;height:30px;">運　送<br>会社名</td>
				<td align="center">_truckerName_</td>
			</tr>
			<tr>
				<td style="width:50px;height:30px;">運　転<br>者　名</td>
				<td align="center">_driverName_</td>
			</tr>
		</table>
		<table border="1" style="border-collapse:collapse;width:270px;">
			<tr>
				<td style="font-size:14px;text-align:center;width:115px;">お届け・引取<br>(いずれか〇印)</td>
				<td style="font-size:13px;width:29px;">発行<br>者名</td>
				<td></td>
			</tr>
		</table>
		<table border="1" style="border-collapse:collapse;width:270px;height:130px;">
			<tr>
				<td style="width:25px;"><span Style="writing-mode:tb-rl;">着時間</span></td>
				<td></td>
			</tr>
			<tr style="position:relative;">
				<td style="width:25px;"><span Style="writing-mode:tb-rl;">受領印</span></td>
				<td style="padding:0;position:relative;">
					<div Style="position:absolute;right:0;bottom:0;font-size:12px;">本書の通り受け取りました</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="thanks">毎度有難う御座居ます。本書の通り発行いたしましたので貴着の上は宜しくご査収下さい。</div>
</div>

<div class="sheet2">
	<div class="set">
		<table style="width:400px;">
			<tr>
			<tr>
				<td style="font-size:10px;text-align:left;">No._orderNo_</td>
			</tr>
			<tr>
				<td>
					<div class="title">
						<div>送 り 状</div>
					</div>
				</td>
			</tr>
			<tr style="height:15px;"></tr>
			<tr>
				<td>
					<div class="handle">
						<div class="handle_name">_companyName_</div>
						<div style="display:table-cell;">扱</div>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<div class="send_lineStyle">
						<div class="send_lineStyle_name">_deliverryName_</div>
						<div style="display:table-cell;">御中</div>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<div style="width:300px;border-bottom:1px solid;">
						<div class="send_date">出荷日・<div class="YMD">_shipYear_</div>年<div class="YMD">_shipMonth_</div>月<div
								class="YMD">_shipDay_</div>日</div>
					</div>
				</td>
				<td>_print2Conut_</td>
			</tr>
			<tr align="center">
				<td>
					<div>
						<div class="send_date">着　日・<div class="YMD">_deliveryYear_</div>年<div class="YMD">_deliveryMonth_</div>月<div
								class="YMD">_deliveryDay_</div>日</div>
					</div>
				</td>
			</tr>
		</table>
		<table border="1" style="border-collapse:collapse;table-layout:fixed;width:400px;height:300px;">
			<tr>
				<th>品名</th>
				<th>荷姿</th>
				<th>数量</th>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName0_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn0_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn0_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty0_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName1_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn1_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn1_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty1_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName2_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn2_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn2_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty2_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName3_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn3_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn3_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty3_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName4_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn4_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn4_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty4_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName5_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn5_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn5_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty5_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName6_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn6_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn6_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty6_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName7_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn7_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn7_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty7_</td>
			</tr>
			</tr>
		</table>
	</div>
	<div class="set" style="bottom:0;">
		<table style="border-collapse:collapse;margin-top:30px;border: solid 1px;">
			<tr>
				<td align="center"><img width="266px" src=_hane_ ></td>
			</tr>
			<tr>
				<td align="right">静岡営業所</td>
			</tr>
			<tr>
				<td align="left" style="font-size: 10px;">〒425-0052 焼津市田尻字和田2154番22
															
				</td>
			</tr>
			<tr>
				<td align="right" style="font-size: 10px;">ＴＥＬ＜０５４＞６２３－１２３１(代)
				</td>
			</tr>
			<tr>
				<td align="left" style="font-size: 10px;">
					沼津配送センター　<br>
					〒410-0847　沼 津 市 千 本 中 町 4 4<br>
					
				</td>
			</tr>

			<tr>
				<td align="right" style="font-size: 10px;">ＴＥＬ＜０５５＞９６２－６６５０(代)
				</td>
			</tr>
		</table>
		<table border="1" style="border-collapse:collapse;width:270px;height:30px;">
			<tr>
				<td style="width:50px;height:30px;">出　荷<br>場　所</td>
				<td align="center">_warehouseName_</td>
			<tr>
			<tr>
				<td style="width:50px;height:30px;">運　送<br>会社名</td>
				<td align="center">_truckerName_</td>
			</tr>
			<tr>
				<td style="width:50px;height:30px;">運　転<br>者　名</td>
				<td align="center">_driverName_</td>
			</tr>
		</table>
		<table border="1" style="border-collapse:collapse;width:270px;">
			<tr>
				<td style="font-size:14px;text-align:center;width:115px;">お届け・引取<br>(いずれか〇印)</td>
				<td style="font-size:13px;width:29px;">発行<br>者名</td>
				<td></td>
			</tr>
		</table>
		<table border="1" style="border-collapse:collapse;width:270px;height:130px;">
			<tr>
				<td style="width:25px;"><span Style="writing-mode:tb-rl;">着時間</span></td>
				<td></td>
			</tr>
			<tr style="position:relative;">
				<td style="width:25px;"><span Style="writing-mode:tb-rl;">受領印</span></td>
				<td style="padding:0;position:relative;">
					<div Style="position:absolute;right:0;bottom:0;font-size:12px;">本書の通り受け取りました</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="thanks">毎度有難う御座居ます。本書の通り発行いたしましたので貴着の上は宜しくご査収下さい。</div>
</div>

<div class="sheet3">
	<div class="set">
		<table style="width:400px;">
			<tr>
			<tr>
				<td style="font-size:10px;text-align:left;">No._orderNo_</td>
			</tr>
			<tr>
				<td>
					<div class="title">
						<div>送 り 状</div>
					</div>
				</td>
			</tr>
			<tr style="height:15px;"></tr>
			<tr>
				<td>
					<div class="handle">
						<div class="handle_name">_companyName_</div>
						<div style="display:table-cell;">扱</div>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<div class="send_lineStyle">
						<div class="send_lineStyle_name">_deliverryName_</div>
						<div style="display:table-cell;">御中</div>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<div style="width:300px;border-bottom:1px solid;">
						<div class="send_date">出荷日・<div class="YMD">_shipYear_</div>年<div class="YMD">_shipMonth_</div>月<div
								class="YMD">_shipDay_</div>日</div>
					</div>
				</td>
				<td>_print2Conut_</td>
			</tr>
			<tr align="center">
				<td>
					<div>
						<div class="send_date">着　日・<div class="YMD">_deliveryYear_</div>年<div class="YMD">_deliveryMonth_</div>月<div
								class="YMD">_deliveryDay_</div>日</div>
					</div>
				</td>
			</tr>
		</table>
		<table border="1" style="border-collapse:collapse;table-layout:fixed;width:400px;height:300px;">
			<tr>
				<th>品名</th>
				<th>荷姿</th>
				<th>数量</th>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName0_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn0_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn0_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty0_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName1_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn1_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn1_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty1_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName2_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn2_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn2_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty2_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName3_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn3_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn3_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty3_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName4_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn4_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn4_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty4_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName5_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn5_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn5_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty5_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName6_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn6_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn6_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty6_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName7_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn7_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn7_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty7_</td>
			</tr>
			</tr>
		</table>
	</div>
	<div class="set" style="bottom:0;">
		<table style="border-collapse:collapse;margin-top:30px;border: solid 1px;">
			<tr>
				<td align="center"><img width="266px" src=_hane_ ></td>
			</tr>
			<tr>
				<td align="right">静岡営業所</td>
			</tr>
			<tr>
				<td align="left" style="font-size: 10px;">〒425-0052 焼津市田尻字和田2154番22
															
				</td>
			</tr>
			<tr>
				<td align="right" style="font-size: 10px;">ＴＥＬ＜０５４＞６２３－１２３１(代)
				</td>
			</tr>
			<tr>
				<td align="left" style="font-size: 10px;">
					沼津配送センター　<br>
					〒410-0847　沼 津 市 千 本 中 町 4 4<br>
					
				</td>
			</tr>

			<tr>
				<td align="right" style="font-size: 10px;">ＴＥＬ＜０５５＞９６２－６６５０(代)
				</td>
			</tr>
		</table>
		<table border="1" style="border-collapse:collapse;width:270px;height:30px;">
			<tr>
				<td style="width:50px;height:30px;">出　荷<br>場　所</td>
				<td align="center">_warehouseName_</td>
			<tr>
			<tr>
				<td style="width:50px;height:30px;">運　送<br>会社名</td>
				<td align="center">_truckerName_</td>
			</tr>
			<tr>
				<td style="width:50px;height:30px;">運　転<br>者　名</td>
				<td align="center">_driverName_</td>
			</tr>
		</table>
		<table border="1" style="border-collapse:collapse;width:270px;">
			<tr>
				<td style="font-size:14px;text-align:center;width:115px;">お届け・引取<br>(いずれか〇印)</td>
				<td style="font-size:13px;width:29px;">発行<br>者名</td>
				<td></td>
			</tr>
		</table>
		<table border="1" style="border-collapse:collapse;width:270px;height:130px;">
			<tr>
				<td style="width:25px;"><span Style="writing-mode:tb-rl;">着時間</span></td>
				<td></td>
			</tr>
			<tr style="position:relative;">
				<td style="width:25px;"><span Style="writing-mode:tb-rl;">受領印</span></td>
				<td style="padding:0;position:relative;">
					<div Style="position:absolute;right:0;bottom:0;font-size:12px;">本書の通り受け取りました</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="thanks">毎度有難う御座居ます。本書の通り発行いたしましたので貴着の上は宜しくご査収下さい。</div>
</div>

<div class="sheet4">
	<div class="set">
		<table style="width:400px;">
			<tr>
			<tr>
				<td style="font-size:10px;text-align:left;">No._orderNo_</td>
			</tr>
			<tr>
				<td>
					<div class="title">
						<div>受　取　書</div>
					</div>
				</td>
			</tr>
			<tr style="height:15px;"></tr>
			<tr>
				<td>
					<div class="handle">
						<div class="handle_name">_companyName_</div>
						<div style="display:table-cell;">扱</div>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<div class="send_lineStyle">
						<div class="send_lineStyle_name">_deliverryName_</div>
						<div style="display:table-cell;">御中</div>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<div style="width:300px;border-bottom:1px solid;">
						<div class="send_date">出荷日・<div class="YMD">_shipYear_</div>年<div class="YMD">_shipMonth_</div>月<div
								class="YMD">_shipDay_</div>日</div>
					</div>
				</td>
				<td>_print2Conut_</td>
			</tr>
			<tr align="center">
				<td>
					<div>
						<div class="send_date">着　日・<div class="YMD">_deliveryYear_</div>年<div class="YMD">_deliveryMonth_</div>月<div
								class="YMD">_deliveryDay_</div>日</div>
					</div>
				</td>
			</tr>
		</table>
		<table border="1" style="border-collapse:collapse;table-layout:fixed;width:400px;height:300px;">
			<tr>
				<th>品名</th>
				<th>荷姿</th>
				<th>数量</th>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName0_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn0_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn0_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty0_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName1_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn1_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn1_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty1_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName2_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn2_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn2_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty2_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName3_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn3_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn3_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty3_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName4_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn4_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn4_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty4_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName5_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn5_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn5_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty5_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName6_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn6_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn6_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty6_</td>
			</tr>
			<tr>
				<td style="text-align:left;">_itemName7_</td>
				<td style="padding:0 5px 0 5px;">
					<div class="num">_QtyPerCtn7_</div>
					<div style="display:table-cell; width:25px;text-align:center">×</div>
					<div class="num">_QtyCtn7_</div>
				</td>
				<td class="pr" style="text-align:right;">_Qty7_</td>
			</tr>
			</tr>
		</table>
	</div>
	<div class="set" style="bottom:0;">
		<table style="border-collapse:collapse;margin-top:30px;border: solid 1px;">
			<tr>
				<td align="center"><img width="266px" src=_hane_ ></td>
			</tr>
			<tr>
				<td align="right">静岡営業所</td>
			</tr>
			<tr>
				<td align="left" style="font-size: 10px;">〒425-0052 焼津市田尻字和田2154番22
															
				</td>
			</tr>
			<tr>
				<td align="right" style="font-size: 10px;">ＴＥＬ＜０５４＞６２３－１２３１(代)
				</td>
			</tr>
			<tr>
				<td align="left" style="font-size: 10px;">
					沼津配送センター　<br>
					〒410-0847　沼 津 市 千 本 中 町 4 4<br>
					
				</td>
			</tr>

			<tr>
				<td align="right" style="font-size: 10px;">ＴＥＬ＜０５５＞９６２－６６５０(代)
				</td>
			</tr>
		</table>
		<table border="1" style="border-collapse:collapse;width:270px;height:30px;">
			<tr>
				<td style="width:50px;height:30px;">出　荷<br>場　所</td>
				<td align="center">_warehouseName_</td>
			<tr>
			<tr>
				<td style="width:50px;height:30px;">運　送<br>会社名</td>
				<td align="center">_truckerName_</td>
			</tr>
			<tr>
				<td style="width:50px;height:30px;">運　転<br>者　名</td>
				<td align="center">_driverName_</td>
			</tr>
		</table>
		<table border="1" style="border-collapse:collapse;width:270px;">
			<tr>
				<td style="font-size:14px;text-align:center;width:115px;">お届け・引取<br>(いずれか〇印)</td>
				<td style="font-size:13px;width:29px;">発行<br>者名</td>
				<td></td>
			</tr>
		</table>
		<table border="1" style="border-collapse:collapse;width:270px;height:130px;">
			<tr>
				<td style="width:25px;"><span Style="writing-mode:tb-rl;">着時間</span></td>
				<td></td>
			</tr>
			<tr style="position:relative;">
				<td style="width:25px;"><span Style="writing-mode:tb-rl;">受領印</span></td>
				<td style="padding:0;position:relative;">
					<div Style="position:absolute;right:0;bottom:0;font-size:12px;">本書の通り受け取りました</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="thanks">毎度有難う御座居ます。本書の通り発行いたしましたので貴着の上は宜しくご査収下さい。</div>
</div>

<style>
	.title {
		padding-left: 170px;
	}

	.title div {
		width: 170px;
		font-size: 20px;
		border-bottom: double;
		letter-spacing: 10px;
		text-align: center;
	}

	.handle {
		width: 200px;
		font-size: 15px;
		text-align: right;
		border-bottom: 1px solid;
	}

	.handle_name {
		width: 185px;
		display: table-cell;
		text-align: center;
	}

	.send_lineStyle {
		width: 300px;
		font-size: 15px;
		text-align: right;
		border-bottom: solid;
	}

	.send_lineStyle_name {
		width: 250px;
		display: table-cell;
		text-align: center;
	}

	.send_date {
		width: 300px;
		font-size: 15px;
		text-align: left;
		display: table-row;
	}

	.YMD {
		width: 50px;
		display: table-cell;
		text-align: center;
	}

	.set {
		float: left;
		height: 500px;
	}

	.thanks {
		font-size: 15px;
		height: 20px;
	}

	.sheet1,.sheet2,.sheet3,.sheet4 {
		width: 670px;
		height: 520px;
		float: left;
	}
	
	.sheet1{
		margin-top: 10px;
		margin-left: 30px;
	}

	.sheet2{
		margin-top: 10px;
		margin-left: 250px;
	}

	.sheet3{
		margin-top: 120px;
		margin-left: 30px;
	}

	.sheet4{
		margin-left: 250px;
		margin-top: 120px;

	}


	.num {
		text-align: right;
		width: 50px;
		display: table-cell;
	}

	.mulSymbol {
		text-align: center;
		width: 30px;
	}

	.pr {
		padding-right: 10px;
	}

</style>