<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="sheet1" >
	<div class="set">
		<table class="w400 h175">
			<tr></tr>
			<tr>
				<td class="hLeft fSize10">No._orderNo_</td>
			</tr>
			<tr>
				<td>
					<div class="title">
						<div>送り状控</div>
					</div>
				</td>
			</tr>
			<tr class="h15"></tr>
			<tr>
				<td>
					<div class="company">
						<div class="companyName">_companyName_</div>
						<div class="table-cell">扱</div>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<div class="deliverry">
						<div class="deliverryName">_deliverryName_</div>
						<div class="table-cell">御中</div>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<div class="w300 border-b">
						<div class="sendDate">出荷日・
							<div class="sendDateYmd">_shipYear_</div>年
							<div class="sendDateYmd">_shipMonth_</div>月
							<div class="sendDateYmd">_shipDay_</div>日
						</div>
					</div>
				</td>
				<td>_print2Count_</td>
			</tr>
			<tr align="center">
				<td>
					<div>
						<div class="sendDate">着　日・
							<div class="sendDateYmd">_deliveryYear_</div>年
							<div class="sendDateYmd">_deliveryMonth_</div>月
							<div class="sendDateYmd">_deliveryDay_</div>日
						</div>
					</div>
				</td>
			</tr>
		</table>

		<table border="1" class="detail">
			<tr>
				<th>品名</th>
				<th>荷姿</th>
				<th>数量</th>
			</tr>
			<tr>
				<td class="hLeft">_itemName0_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn0_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn0_</div>
				</td>
				<td class="hRight pr">_Qty0_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName1_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn1_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn1_</div>
				</td>
				<td class="hRight pr">_Qty1_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName2_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn2_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn2_</div>
				</td>
				<td class="hRight pr">_Qty2_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName3_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn3_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn3_</div>
				</td>
				<td class="hRight pr">_Qty3_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName4_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn4_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn4_</div>
				</td>
				<td class="hRight pr">_Qty4_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName5_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn5_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn5_</div>
				</td>
				<td class="hRight pr">_Qty5_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName6_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn6_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn6_</div>
				</td>
				<td class="hRight pr">_Qty6_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName7_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn7_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn7_</div>
				</td>
				<td class="hRight pr">_Qty7_</td>
			</tr>
			</tr>
		</table>
	</div>
	<div class="set bottom0">
		<table class="logo hRight">
			<tr><td class="fSize05">　</td></tr>
			<tr>
				<td class="hCenter"><img class="w266" src=_hane_ ></td>
			</tr>
			<tr>
				<td class="hLeft fSize14">　　　〒425-0052 本社 静岡営業所</td>
			</tr>
			<tr>
				<td class="hLeft fSize14">　　　静岡県焼津市田尻宇和田２１５４－２２</td>
			</tr>
			<tr>
				<td class="hLeft fSize14">　　　TEL（０５４）６６５－０７１１</td>
			</tr>
			<tr><td class="fSize06">　</td></tr>
		</table>
		<table border="1" class="transport hCenter">
			<tr>
				<td class="h45 w50">出　荷<br>場　所</td>
				<td>_warehouseName_</td>
			<tr>
			<tr>
				<td class="h45 w50">運　送<br>会社名</td>
				<td>_truckerName_</td>
			</tr>
			<tr>
				<td class="h45 w50">運　転<br>者　名</td>
				<td>_driverName_</td>
			</tr>
		</table>
		<table border="1" class="border-c w270 hCenter">
			<tr>
				<td class="h45 w115 fSize14">お届け・引取<br>(いずれか〇印)</td>
				<td class="h45 w29  fSize13">発行<br>者名</td>
				<td></td>
			</tr>
		</table>
		<table border="1" class="border-c w270 h130">
			<tr>
				<td class="w25 hCenter">着時間</td>
				<td></td>
			</tr>
			<tr class="position-r">
				<td class="w25 hCenter">受領印</td>
				<td class="position-r padding00">
					<div class="receipt">本書の通り受け取りました</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="thanks">毎度有難う御座居ます。本書の通り発行いたしましたので貴着の上は宜しくご査収下さい。</div>
</div>

<div class="sheet2">
	<div class="set">
		<table class="w400 h175">
			<tr></tr>
			<tr>
				<td class="hLeft fSize10">No._orderNo_</td>
			</tr>
			<tr>
				<td>
					<div class="title">
						<div>送 り 状</div>
					</div>
				</td>
			</tr>
			<tr class="h15"></tr>
			<tr>
				<td>
					<div class="company">
						<div class="companyName">_companyName_</div>
						<div class="table-cell">扱</div>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<div class="deliverry">
						<div class="deliverryName">_deliverryName_</div>
						<div class="table-cell">御中</div>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<div class="w300 border-b">
						<div class="sendDate">出荷日・
							<div class="sendDateYmd">_shipYear_</div>年
							<div class="sendDateYmd">_shipMonth_</div>月
							<div class="sendDateYmd">_shipDay_</div>日
						</div>
					</div>
				</td>
				<td>_print2Count_</td>
			</tr>
			<tr align="center">
				<td>
					<div>
						<div class="sendDate">着　日・
							<div class="sendDateYmd">_deliveryYear_</div>年
							<div class="sendDateYmd">_deliveryMonth_</div>月
							<div class="sendDateYmd">_deliveryDay_</div>日
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table border="1" class="detail">
			<tr>
				<th>品名</th>
				<th>荷姿</th>
				<th>数量</th>
			</tr>
			<tr>
				<td class="hLeft">_itemName0_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn0_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn0_</div>
				</td>
				<td class="hRight pr">_Qty0_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName1_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn1_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn1_</div>
				</td>
				<td class="hRight pr">_Qty1_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName2_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn2_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn2_</div>
				</td>
				<td class="hRight pr">_Qty2_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName3_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn3_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn3_</div>
				</td>
				<td class="hRight pr">_Qty3_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName4_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn4_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn4_</div>
				</td>
				<td class="hRight pr">_Qty4_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName5_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn5_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn5_</div>
				</td>
				<td class="hRight pr">_Qty5_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName6_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn6_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn6_</div>
				</td>
				<td class="hRight pr">_Qty6_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName7_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn7_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn7_</div>
				</td>
				<td class="hRight pr">_Qty7_</td>
			</tr>
			</tr>
		</table>
	</div>
	<div class="set bottom0">
		<table class="logo hRight">
			<tr><td class="fSize05">　</td></tr>
			<tr>
				<td class="hCenter"><img class="w266" src=_hane_ ></td>
			</tr>
			<tr>
				<td class="hLeft fSize14">　　　〒425-0052 本社 静岡営業所</td>
			</tr>
			<tr>
				<td class="hLeft fSize14">　　　静岡県焼津市田尻宇和田２１５４－２２</td>
			</tr>
			<tr>
				<td class="hLeft fSize14">　　　TEL（０５４）６６５－０７１１</td>
			</tr>
			<tr><td class="fSize06">　</td></tr>
		</table>
		<table border="1" class="transport hCenter">
			<tr>
				<td class="h45 w50">出　荷<br>場　所</td>
				<td>_warehouseName_</td>
			<tr>
			<tr>
				<td class="h45 w50">運　送<br>会社名</td>
				<td>_truckerName_</td>
			</tr>
			<tr>
				<td class="h45 w50">運　転<br>者　名</td>
				<td>_driverName_</td>
			</tr>
		</table>
		<table border="1" class="border-c w270 hCenter">
			<tr>
				<td class="h45 w115 fSize14">お届け・引取<br>(いずれか〇印)</td>
				<td class="h45 w29  fSize13">発行<br>者名</td>
				<td></td>
			</tr>
		</table>
		<table border="1" class="border-c w270 h130">
			<tr>
				<td class="w25 hCenter">着時間</td>
				<td></td>
			</tr>
			<tr class="position-r">
				<td class="w25 hCenter">受領印</td>
				<td class="position-r padding00">
					<div class="receipt">本書の通り受け取りました</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="thanks">毎度有難う御座居ます。本書の通り発行いたしましたので貴着の上は宜しくご査収下さい。</div>
</div>

<div class="sheet3">
	<div class="set">
		<table class="w400 h175">
			<tr></tr>
			<tr>
				<td class="hLeft fSize10">No._orderNo_</td>
			</tr>
			<tr>
				<td>
					<div class="title">
						<div>送 り 状</div>
					</div>
				</td>
			</tr>
			<tr class="h15"></tr>
			<tr>
				<td>
					<div class="company">
						<div class="companyName">_companyName_</div>
						<div class="table-cell">扱</div>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<div class="deliverry">
						<div class="deliverryName">_deliverryName_</div>
						<div class="table-cell">御中</div>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<div class="w300 border-b">
						<div class="sendDate">出荷日・
							<div class="sendDateYmd">_shipYear_</div>年
							<div class="sendDateYmd">_shipMonth_</div>月
							<div class="sendDateYmd">_shipDay_</div>日
						</div>
					</div>
				</td>
				<td>_print2Count_</td>
			</tr>
			<tr align="center">
				<td>
					<div>
						<div class="sendDate">着　日・
							<div class="sendDateYmd">_deliveryYear_</div>年
							<div class="sendDateYmd">_deliveryMonth_</div>月
							<div class="sendDateYmd">_deliveryDay_</div>日
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table border="1" class="detail">
			<tr>
				<th>品名</th>
				<th>荷姿</th>
				<th>数量</th>
			</tr>
			<tr>
				<td class="hLeft">_itemName0_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn0_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn0_</div>
				</td>
				<td class="hRight pr">_Qty0_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName1_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn1_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn1_</div>
				</td>
				<td class="hRight pr">_Qty1_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName2_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn2_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn2_</div>
				</td>
				<td class="hRight pr">_Qty2_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName3_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn3_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn3_</div>
				</td>
				<td class="hRight pr">_Qty3_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName4_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn4_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn4_</div>
				</td>
				<td class="hRight pr">_Qty4_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName5_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn5_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn5_</div>
				</td>
				<td class="hRight pr">_Qty5_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName6_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn6_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn6_</div>
				</td>
				<td class="hRight pr">_Qty6_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName7_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn7_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn7_</div>
				</td>
				<td class="hRight pr">_Qty7_</td>
			</tr>
			</tr>
		</table>
	</div>
	<div class="set bottom0">
		<table class="logo hRight">
			<tr><td class="fSize05">　</td></tr>
			<tr>
				<td class="hCenter"><img class="w266" src=_hane_ ></td>
			</tr>
			<tr>
				<td class="hLeft fSize14">　　　〒425-0052 本社 静岡営業所</td>
			</tr>
			<tr>
				<td class="hLeft fSize14">　　　静岡県焼津市田尻宇和田２１５４－２２</td>
			</tr>
			<tr>
				<td class="hLeft fSize14">　　　TEL（０５４）６６５－０７１１</td>
			</tr>
			<tr><td class="fSize06">　</td></tr>
		</table>
		<table border="1" class="transport hCenter">
			<tr>
				<td class="h45 w50">出　荷<br>場　所</td>
				<td>_warehouseName_</td>
			<tr>
			<tr>
				<td class="h45 w50">運　送<br>会社名</td>
				<td>_truckerName_</td>
			</tr>
			<tr>
				<td class="h45 w50">運　転<br>者　名</td>
				<td>_driverName_</td>
			</tr>
		</table>
		<table border="1" class="border-c w270 hCenter">
			<tr>
				<td class="h45 w115 fSize14">お届け・引取<br>(いずれか〇印)</td>
				<td class="h45 w29  fSize13">発行<br>者名</td>
				<td></td>
			</tr>
		</table>
		<table border="1" class="border-c w270 h130">
			<tr>
				<td class="w25 hCenter">着時間</td>
				<td></td>
			</tr>
			<tr class="position-r">
				<td class="w25 hCenter">受領印</td>
				<td class="position-r padding00">
					<div class="receipt">本書の通り受け取りました</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="thanks">毎度有難う御座居ます。本書の通り発行いたしましたので貴着の上は宜しくご査収下さい。</div>
</div>

<div class="sheet4">
	<div class="set">
		<table class="w400 h175">
			<tr></tr>
			<tr>
				<td class="hLeft fSize10">No._orderNo_</td>
			</tr>
			<tr>
				<td>
					<div class="title">
						<div>受　取　書</div>
					</div>
				</td>
			</tr>
			<tr class="h15"></tr>
			<tr>
				<td>
					<div class="company">
						<div class="companyName">_companyName_</div>
						<div class="table-cell">扱</div>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<div class="deliverry">
						<div class="deliverryName">_deliverryName_</div>
						<div class="table-cell">御中</div>
					</div>
				</td>
			</tr>
			<tr align="center">
				<td>
					<div class="w300 border-b">
						<div class="sendDate">出荷日・
							<div class="sendDateYmd">_shipYear_</div>年
							<div class="sendDateYmd">_shipMonth_</div>月
							<div class="sendDateYmd">_shipDay_</div>日
						</div>
					</div>
				</td>
				<td>_print2Count_</td>
			</tr>
			<tr align="center">
				<td>
					<div>
						<div class="sendDate">着　日・
							<div class="sendDateYmd">_deliveryYear_</div>年
							<div class="sendDateYmd">_deliveryMonth_</div>月
							<div class="sendDateYmd">_deliveryDay_</div>日
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table border="1" class="detail">
			<tr>
				<th>品名</th>
				<th>荷姿</th>
				<th>数量</th>
			</tr>
			<tr>
				<td class="hLeft">_itemName0_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn0_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn0_</div>
				</td>
				<td class="hRight pr">_Qty0_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName1_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn1_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn1_</div>
				</td>
				<td class="hRight pr">_Qty1_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName2_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn2_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn2_</div>
				</td>
				<td class="hRight pr">_Qty2_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName3_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn3_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn3_</div>
				</td>
				<td class="hRight pr">_Qty3_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName4_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn4_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn4_</div>
				</td>
				<td class="hRight pr">_Qty4_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName5_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn5_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn5_</div>
				</td>
				<td class="hRight pr">_Qty5_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName6_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn6_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn6_</div>
				</td>
				<td class="hRight pr">_Qty6_</td>
			</tr>
			<tr>
				<td class="hLeft">_itemName7_</td>
				<td class="padding05">
					<div class="num">_QtyPerCtn7_</div>
					<div class="nisugata">×</div>
					<div class="num">_QtyCtn7_</div>
				</td>
				<td class="hRight pr">_Qty7_</td>
			</tr>
			</tr>
		</table>
	</div>
	<div class="set bottom0">
		<table class="logo hRight">
			<tr><td class="fSize05">　</td></tr>
			<tr>
				<td class="hCenter"><img class="w266" src=_hane_ ></td>
			</tr>
			<tr>
				<td class="hLeft fSize14">　　　〒425-0052 本社 静岡営業所</td>
			</tr>
			<tr>
				<td class="hLeft fSize14">　　　静岡県焼津市田尻宇和田２１５４－２２</td>
			</tr>
			<tr>
				<td class="hLeft fSize14">　　　TEL（０５４）６６５－０７１１</td>
			</tr>
			<tr><td class="fSize06">　</td></tr>
		</table>
		<table border="1" class="transport hCenter">
			<tr>
				<td class="h45 w50">出　荷<br>場　所</td>
				<td>_warehouseName_</td>
			<tr>
			<tr>
				<td class="h45 w50">運　送<br>会社名</td>
				<td>_truckerName_</td>
			</tr>
			<tr>
				<td class="h45 w50">運　転<br>者　名</td>
				<td>_driverName_</td>
			</tr>
		</table>
		<table border="1" class="border-c w270 hCenter">
			<tr>
				<td class="h45 w115 fSize14">お届け・引取<br>(いずれか〇印)</td>
				<td class="h45 w29  fSize13">発行<br>者名</td>
				<td></td>
			</tr>
		</table>
		<table border="1" class="border-c w270 h130">
			<tr>
				<td class="w25 hCenter">着時間</td>
				<td></td>
			</tr>
			<tr class="position-r">
				<td class="w25 hCenter">受領印</td>
				<td class="position-r padding00">
					<div class="receipt">本書の通り受け取りました</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="thanks">毎度有難う御座居ます。本書の通り発行いたしましたので貴着の上は宜しくご査収下さい。</div>
</div>

<style>

	.sheet1,.sheet2,.sheet3,.sheet4 {
		width: 670px;
		height: 520px;
		float: left;
	}
	.sheet1{
		margin-top: 10px;
		margin-left: 30px;
	}
	.sheet2{
		margin-top: 10px;
		margin-left: 250px;
	}
	.sheet3{
		margin-top: 120px;
		margin-left: 30px;
	}
	.sheet4{
		margin-left: 250px;
		margin-top: 120px;
	}

	.set {
		float: left;
		height: 500px;
	}

	.title {
		padding-left: 170px;
	}
	.title div {
		width: 170px;
		font-size: 20px;
		border-bottom: double;
		letter-spacing: 10px;
		text-align: center;
	}

	.company {
		width: 200px;
		font-size: 15px;
		text-align: right;
		border-bottom: 1px solid;
	}
	.companyName {
		width: 185px;
		display: table-cell;
		text-align: center;
	}

	.deliverry {
		width: 300px;
		font-size: 15px;
		text-align: right;
		border-bottom: solid;
	}
	.deliverryName {
		width: 250px;
		display: table-cell;
		text-align: center;
	}

	.sendDate {
		width: 300px;
		font-size: 15px;
		text-align: left;
		display: table-row;
	}
	.sendDateYmd {
		width: 50px;
		display: table-cell;
		text-align: center;
	}

	.detail {
    width: 400px; min-width: 400px; max-width: 400px;
		height: 300px; min-height: 300px; max-height: 300px;
		border-collapse:collapse;
		table-layout:fixed;
	}
	.num {
		text-align: right;
		width: 50px;
		display: table-cell;
	}
	.nisugata {
    width: 25px; min-width: 25px; max-width: 25px;
		text-align: center;
		display: table-cell;
	}
	.pr {
		padding-right: 10px;
	}

	.logo {
		border-collapse:collapse;
		margin-top:10px;
		border:1px solid;
	}

	.transport {
		border-collapse:collapse;
    width: 270px; min-width: 270px; max-width: 270px;
	}

	.receipt {
		bottom:0;
		position:absolute;
		right:0;
		font-size:12px;
	}

	.thanks {
		font-size: 15px;
		height: 20px;
	}

  .hCenter {
    text-align: center;
  }
  .hLeft {
    text-align: left;
  }
  .hRight {
    text-align: right;
  }

	.h11 {
    height: 11px;
    min-height: 11px;
    max-height: 11px;
	}
  .h15 {
    height: 15px;
    min-height: 15px;
    max-height: 15px;
  }
  .h45 {
    height: 45px;
    min-height: 45px;
    max-height: 45px;
  }
  .h130 {
    height: 130px;
    min-height: 130px;
    max-height: 130px;
  }
  .h175 {
    height: 175px;
    min-height: 175px;
    max-height: 175px;
  }
  .h300 {
    height: 300px;
    min-height: 300px;
    max-height: 300px;
  }


	.w25 {
    width: 25px;
    min-width: 25px;
    max-width: 25px;
	}
	.w29 {
    width: 29px;
    min-width: 29px;
    max-width: 29px;
	}
	.w50 {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
	}
	.w115 {
    width: 115px;
    min-width: 115px;
    max-width: 115px;
	}
	.w266 {
    width: 266px;
    min-width: 266px;
    max-width: 266px;
	}
	.w270 {
    width: 270px;
    min-width: 270px;
    max-width: 270px;
	}
	.w300 {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
	}
	.w400 {
    width: 400px;
    min-width: 400px;
    max-width: 400px;
	}

	.fSize05 {
    font-size: 5px;
  }
	.fSize06 {
    font-size: 6.5px;
  }
	.fSize07 {
    font-size: 6.5px;
  }
	.fSize08 {
    font-size: 8px;
  }
	.fSize09 {
    font-size: 9px;
  }
  .fSize10 {
    font-size: 10px;
  }
  .fSize11 {
    font-size: 11px;
  }
  .fSize12 {
    font-size: 12px;
  }
  .fSize13 {
    font-size: 13px;
  }
  .fSize14 {
    font-size: 14px;
  }
  .fSize15 {
    font-size: 15px;
  }
  .fSize16 {
    font-size: 16px;
  }
  .fSize17 {
    font-size: 17px;
  }
  .fSize18 {
    font-size: 18px;
  }
  .fSize19 {
    font-size: 19px;
  }

	.table-cell {
		display:table-cell;
	}

	.border {
		border:1px solid;
	}

	.border-b {
		border-bottom:1px solid;
	}

	.border-c {
		border-collapse:collapse;
	}

	.fixed {
		table-layout:fixed;
	}

	.padding00 {
		padding:0;
	}
	.padding05 {
		padding:0 5px 0 5px;
	}

	.bottom0 {
		bottom:0;
	}

	.position-r{
		position:relative;
	}

</style>